:root {
    --background-color: rgba(17, 177, 206, 0.856);
    font-family: 'Piazzolla', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container {
    background-color: var(--background-color);
    height: 600px;
}

.cloud-wrapper {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    border: 0px solid white;
    color: white;
}

.mountain {
    position: absolute;
    bottom: 0;
    left: 0;
}

span {
    text-decoration: underline;
}

.middle-container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2rem;
}

.profile img {
    width: 100px;
    padding: 2rem 0; 
}

.skills {
    width: 75%;
    margin: 0 auto;
    padding: 2rem 0 2rem 0; /*top right bottom left*/
}

.skills img {
    width: 100px;
}

.skills-row {
    width: 75%;
    margin: 2rem auto 5rem auto;

}

.skills-image1 {
    float: left;
    margin-right: 2rem;
}

.skills-image2 {
    float: right;
    margin-left: 2rem;
}

.contact-me {
    width: 75%;
    margin: 0 auto;
    text-align: center;

}

.bottom-container {
    background-color: var(--background-color);
    height: 10vh;
    text-align: center;
    color: wheat;
    padding-top: 1.5rem;
    font-size: 1.5rem;

}
.skills-header {
    text-align: center;
}

.btn {
    display: inline-block;
    color: rgb(14, 0, 0);
    text-decoration: none;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius:2 ;
    margin: 1rem;
    padding: 1rem;
    opacity: 1;

}




.cloud1 {
    position: absolute;
    top: 10%;
    left: 5%;
    animation-name: cloud1;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@keyframes cloud1 {
    0% {left: 5%; top: 10%}
    25% {left: 6%; top: 11%}
    50% {left: 5%; top: 9%}
    75% {left: 5%; top: 8%;}
    100% {left: 5%; top: 10%}
}

.cloud2 {
    position: absolute;
    top: 10%;
    left: 5%;
    animation-name: cloud2;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@keyframes cloud2 {
    0% {left: 26%; top: 29%}
    25% {left: 26%; top: 28%}
    50% {left: 27%; top: 27%}
    75% {left: 28%; top: 26%;}
    100% {left: 26%; top: 29%}
}


.cloud3 {
    position: absolute;
    top: 10%;
    left: 5%;
    animation-name: cloud3;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@keyframes cloud3 {
    0% {left: 70%; top: 20%}
    25% {left: 71%; top: 21%}
    50% {left: 72%; top: 22%}
    75% {left: 73%; top: 23%;}
    100% {left: 70%; top: 20%}
}